manifest {
  name = 'tumor-normal-wes'
  version = '0.1.0'
  mainScript = 'main.nf'
  author = 'OpenAI Codex'
  description = 'Tumor/normal whole-exome sequencing workflow scaffold'
}

params {
  samplesheet = null
  reference_config = "${projectDir}/config/references.yaml"
  pipeline_config = "${projectDir}/config/default.yaml"
  results_dir = "${projectDir}/results"
  qc_container = "${projectDir}/containers/sif/qc_suite_2026.08.sif"
  bwa_container = "${projectDir}/containers/sif/bwa_mem2_2.3.sif"
  align_container = "${projectDir}/containers/sif/bwa_mem2_samtools_2.3.sif"
  bwa_binary = "bwa-mem2"
  gatk_container = "${projectDir}/containers/sif/gatk_4.7.0.0.sif"
  gatk_local_jar = null
  cfsnv_container = "${projectDir}/containers/sif/cfsnv_1.0.sif"
  umi_consensus_container = "${projectDir}/containers/sif/umi_consensus_2.5.1.sif"
  deepvariant_container = "${projectDir}/containers/sif/deepvariant_1.10.0.sif"
  deepsomatic_container = "${projectDir}/containers/sif/deepsomatic_1.10.0.sif"
  cnvkit_container = "${projectDir}/containers/sif/cnvkit_0.9.14.sif"
  vep_container = "${projectDir}/containers/sif/vep_116.0.sif"
  signature_container = "${projectDir}/containers/sif/sigprofiler_1.1.5.sif"
  facets_container = "${projectDir}/containers/sif/facets_suite_0.6.2.sif"
  copy_number_arm_deep_del = -1.1
  copy_number_arm_loss = -0.3
  copy_number_arm_gain = 0.2
  copy_number_arm_amp = 0.7
  pitt_account = null
  pitt_qos = null
  pitt_constraint = null
  pitt_gpu_partition = 'l40s'
  pitt_gpu_gres = 'gpu:1'
}

process {
  shell = ['/bin/bash', '-euo', 'pipefail']
  withLabel: 'cpu_small' {
    cpus = 2
    memory = '8 GB'
    time = '2h'
  }
  withLabel: 'cpu_medium' {
    cpus = 8
    memory = '32 GB'
    time = '8h'
  }
  withLabel: 'cpu_large' {
    cpus = 16
    memory = '48 GB'
    time = '24h'
  }
  withLabel: 'gpu' {
    cpus = 8
    memory = '32 GB'
    time = '12h'
  }
}

profiles {
  local {
    process.executor = 'local'
    process.errorStrategy = 'terminate'
    process.shell = ['/bin/bash', '-euo', 'pipefail']
    singularity.enabled = true
    apptainer.enabled = false
  }

  arc85_workstation {
    process.executor = 'local'
    process.errorStrategy = 'terminate'
    process.shell = ['/bin/bash', '-euo', 'pipefail']

    singularity.enabled = true
    singularity.autoMounts = true
    singularity.runOptions = '--userns --cleanenv'
    apptainer.enabled = false

    params.qc_container = "${projectDir}/containers/sandbox_local/qc_suite_2026.08"
    params.bwa_container = "${projectDir}/containers/sandbox_local/bwa_mem2_2.3"
    params.align_container = "${projectDir}/containers/sandbox_local/bwa_mem2_samtools_2.3"
    params.bwa_binary = "${projectDir}/containers/sandbox_local/bwa_mem2_2.3/usr/local/bin/bwa-mem2"
    params.gatk_container = "${projectDir}/containers/sandbox_local/gatk_4.7.0.0"
    params.gatk_local_jar = "/gatk/gatk-package-4.7.0.0-local.jar"
    params.cfsnv_container = "${projectDir}/containers/sandbox_local/cfsnv_1.0"
    params.umi_consensus_container = "${projectDir}/containers/sandbox_local/umi_consensus_2.5.1"
    params.deepvariant_container = "${projectDir}/containers/sandbox_local/deepvariant_1.10.0"
    params.deepsomatic_container = "${projectDir}/containers/sandbox_local/deepsomatic_1.10.0"
    params.cnvkit_container = "${projectDir}/containers/sandbox_local/cnvkit_0.9.14"
    params.vep_container = "${projectDir}/containers/sandbox_local/vep_116.0"
    params.signature_container = "${projectDir}/containers/sandbox_local/sigprofiler_1.1.5"
    params.facets_container = "${projectDir}/containers/sandbox_local/facets_suite_0.6.2"
  }

  slurm {
    includeConfig "${projectDir}/config/profiles/slurm.config"
  }

  pitt_htc {
    process {
      executor = 'slurm'
      errorStrategy = 'terminate'
      beforeScript = 'module load singularity/3.9.6 || true'
      scratch = true
      withLabel: 'cpu_small' {
        queue = 'htc'
        clusterOptions = "--cluster=htc${params.pitt_account ? " --account=${params.pitt_account}" : ''}${params.pitt_qos ? " --qos=${params.pitt_qos}" : ''}${params.pitt_constraint ? " --constraint=${params.pitt_constraint}" : ''}"
        cpus = 2
        memory = '8 GB'
        time = '2h'
      }
      withLabel: 'cpu_medium' {
        queue = 'htc'
        clusterOptions = "--cluster=htc${params.pitt_account ? " --account=${params.pitt_account}" : ''}${params.pitt_qos ? " --qos=${params.pitt_qos}" : ''}${params.pitt_constraint ? " --constraint=${params.pitt_constraint}" : ''}"
        cpus = 8
        memory = '32 GB'
        time = '8h'
      }
      withLabel: 'cpu_large' {
        queue = 'htc'
        clusterOptions = "--cluster=htc${params.pitt_account ? " --account=${params.pitt_account}" : ''}${params.pitt_qos ? " --qos=${params.pitt_qos}" : ''}${params.pitt_constraint ? " --constraint=${params.pitt_constraint}" : ''}"
        cpus = 16
        memory = '64 GB'
        time = '24h'
      }
      withLabel: 'gpu' {
        queue = "${params.pitt_gpu_partition}"
        clusterOptions = "--cluster=gpu --gres=${params.pitt_gpu_gres}${params.pitt_account ? " --account=${params.pitt_account}" : ''}${params.pitt_qos ? " --qos=${params.pitt_qos}" : ''}"
        cpus = 8
        memory = '32 GB'
        time = '24h'
        containerOptions = '--nv'
      }
    }

    apptainer.enabled = false
    singularity.enabled = true
    singularity.autoMounts = true

    params.deepvariant_container = "${projectDir}/containers/sif/deepvariant_1.10.0_gpu.sif"
    params.deepsomatic_container = "${projectDir}/containers/sif/deepsomatic_1.10.0_gpu.sif"
    params.cfsnv_container = "${projectDir}/containers/sif/cfsnv_1.0.sif"
    params.umi_consensus_container = "${projectDir}/containers/sif/umi_consensus_2.5.1.sif"
    params.gatk_local_jar = "/gatk/gatk-package-4.7.0.0-local.jar"
  }

  gpu {
    process {
      withLabel: 'gpu' {
        clusterOptions = '--gres=gpu:1'
      }
    }
    params.deepvariant_container = "${projectDir}/containers/sif/deepvariant_1.10.0_gpu.sif"
    params.deepsomatic_container = "${projectDir}/containers/sif/deepsomatic_1.10.0_gpu.sif"
  }
}
